@media only screen and (max-width: 991px) {
    .container {
        grid-template-columns: auto;
        grid-template-rows: auto 100px auto 280px 40px;
        row-gap: 0;
    }
    
    .grid2, .grid3, .grid4 {
        border-bottom: 2px solid #009bd6;
    }

    .grid2 {
        /* background: url('/imgs/LeaderboardAd_mobile.png') repeat-x scroll right top; */
        background: url('/ads/000/LeaderboardAd_mobile.jpg') repeat-x scroll right top;
        height: 100px;
    }
    .grid2 h1 {
        color: gold;        
        margin: 20px 20px;
        font-size: 2vh;
    }    

    .grid4 {
        /* background: url('/imgs/LargeRectangleAd_mobile.png') repeat-x scroll right top; */
        background: url('/ads/000/LargeRectangleAd_mobile.jpg') repeat-x scroll left top;
        max-height: 280px;
    }
    .grid4 h4 {
        margin: 10px 20px;
        color: gold;
    }    

    .grid3 {
        
        display: flex;
        flex-direction: column;
    }

    /* Footer */
    .grid5 {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        padding-left: 10px;
        background-color: #63b7d3;
        color: black;
        font-size: 10pt;
        flex-flow: nowrap;
        min-height: auto;
    }    

        /* Menu */
    .grid1 {
        display: none;
    }
    .grid1m, .grid1m_sub {
        display: flex;
        flex-direction: row;
        padding: 5px;
        justify-content: flex-start;
        align-items: center;
    }
    .grid1m_sub_none {
        display: none;
    }
    .grid1m {
        border-bottom: 1px solid #ffff;
        max-height: 100px;
    }
    .logo {
        width: 60px;
        padding-top: 4px;
        margin-left: 2px;
    }
    .logo img {
        width: 100%;
        height: auto;
        /*margin: 5px 0 4px 5px;*/
    }
    .grid1m ul.menuTitle {
        list-style-type: none;
        padding: 0 10px 0 10px;
        margin: 0;
    
    }
    .grid1m ul li {
        margin: 10px;
    }
    .grid1m ul.menuTitle li a,  .grid1m ul.menuTitle li span{
        text-decoration: none;
        color: #ffff;
    }
    .grid1m ul li a:hover {
        border-bottom: 1px solid #ffff;
    }
    
    .grid1m_sub {
        margin: 0;
        padding: 0;
        background-color: #009bd6;
        display: flex;
        flex-direction: column;
    
        border-bottom: 1px solid #ffff;
        max-height: 100%;
    }
    .grid1m_sub ul.menu {
        flex-direction: column;
        justify-content: flex-start;    
    }
    
    .menuTitle {
        display: flex;
    }
    
    .menu {
        padding: 0;
        margin: 0;
        width: 100%;
        border-bottom: 1px solid #ffff;
    }
    .menuItem, .menuItemSelected {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin: 5px 0 5px 0;
        padding: 5px 0 5px 0;
        cursor: pointer;
    }
    .menuItemSelected {
        background-color: #ffff; 
        padding: 3px 0 3px 0;
        flex-direction: column;
        align-items: flex-start;
        
    }
    
    .menuItem a, .menuItemBottom a {
        text-decoration: none;
        color: #ffff;
        margin-left: 10px;
    }
    a.menuItemSelected {
        text-decoration: none;
        color: #009bd6;
        font-weight: bolder;
        font-size: 14pt;
        margin-left: 10px;
    }
    
/*    .menuBottom {    
    }
*/    
    .menuItemBottom a {
        margin: 2px;
        font-size: 10pt;
    }
    .menuItemBottom a:hover {
        border-bottom: 1px solid white;
        font-size: 10pt;
    }
    
    a.menuItemBottomSelected{
/*        color: #009bd6;
        background-color: white;
*/
        color: navy;
        background-color: gold;    
        padding: 3px 4px 1px 4px;
        font-weight: bolder;
        /*text-shadow: 2px 2px 3px white;*/
    }
    a.menuItemBottomSelected:hover{
        border: 0;
    }    
    
    /* Menu Context */
    .popupLiShow {
        padding: 0;
        margin: 5px 0 0 0;
    }

    .popup {
        margin: 0 0 5px 7px;        
    }
    
    ul.popup {
        margin: 0 0 5px 7px;
        padding: 2px 0 2px 0;
        
        list-style-type: none;
    }
    
    ul.popup li {
        margin: 5px 0 5px 0;
    }
    .menuItemPopup img {
        margin-left: 5px;
    }
    
    li.menuItemPopup, .menuItemPopup a {
        margin: 20;
        padding: 0;
        padding-right: 5px;
    }    

    /* Edit */
    .subcategoryInput {
        width: 180px;
    }
    
/* grid3  */
.subcategories {
    display: flex;
    flex-direction: column;
    border: 0px solid green;
}

ul.utilities {
    display: flex;
    flex-direction: column; 
    
}

.util {
    font-size: 12pt;
    text-decoration: none;
    color: black;
    border: 1px solid white;
    padding: 0;
    margin: 5px;
    margin-left: 2px;
}

.utilEditWrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-content: center;        
}

.utilEdit {
    font-size: 12pt;
    text-decoration: none;
    color: black;
    border: 1px solid white;
    padding: 0;
    margin-top: 0;
    margin-left: 2px;

}

.util:hover, .utilEdit:hover {
    /* border-bottom: 1px solid black; */
    text-decoration: underline solid #009bd6;
}

.aboutSection {
    padding: 30px 10px 10px 10px;
  }

  .aboutSection p {
    margin: 10px 5px 5px 10px;
    text-wrap: pretty;
  }

  .aboutSection ul {
    list-style-type: disc;
  }


/*icon wrapper */
.utilLi, .searchTitle {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
}

.searchTitle {
    justify-content: flex-start;
    align-content: center;
    padding-left: 2px;
}
.utilTitle {
    margin-top: 5px;
}

.iconWrapper {
    background-color: #F5F5F5;/*#F2F3F4;*/
    border-radius: 50%;
    padding: 2px;
    border: 1px solid #009bd6;
}

.iconWrapperSquare {
    background-color: #F5F5F5;/*#F2F3F4;*/
    border-radius: 30%;
    padding: 2px;
    border: 1px solid #009bd6;
}

/* config */
.configSection {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }

  #formExportConfigFile, #formLocaleConfigForm, #formUploadConfigFile {
    margin: 10px;
  }


    /* Dialog */
    #dialog {
        display: inline-block;
        position: fixed;
        left: 5px;
        right: 5px;
        top: 20%;
        z-index: 999;
        padding: 0;
        border-radius: 3px;
        border: 3px solid #63b7d3;
        background-color: white;
        display: flex;
        flex-direction: column;
    }

    .dialogTitle {
        font-size: medium;
        padding: 5px 5px 5px 5px;
        border-bottom: 3px solid #63b7d3;
        color: black;
    }

    .dialogDesc {
        margin: 10px;
    }

    .dialogHandle {
        margin: 20px 10px 10px 10px;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
    }

    .dialogSelSubCate {
        list-style-type: none;
        margin: 12px;
        display: flex;
        flex-direction: column;
    }

    .listSubCates, .listUtils {
        list-style-type: none;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        padding: 0;
        margin: 15px 0 0 10px;

    }
    .listSubCates li, .listUtils li {
        margin: 5px;
    }

    .listUtils li.utilItem {
        display: flex;
        flex-direction: row;
        align-content: center;
        align-items: center;
        justify-content: flex-start;
        padding: 5px;

        border: 1px dotted #63b7d3;
    }

    .dialogSelCateRow {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
    }

    .labelCateName {
        color: #009bd6;
        font-weight: bold;
margin-right: 5px;
        width: 150px;
    }

    .selectCateName {
        border-radius: 3px;
        border: 1px solid black;
        height: 30px;
        margin: 3px;
        width: 200px;
        padding-left: 5px;    
        font-size: 14px;
    }

    .lstCates {
        display: flex;
        flex-direction: row;
        list-style-type: none;
        padding: 2px;
    }

    .lstCates li {
        margin: 2px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }

}