@media only screen and (min-width: 992px) {
    /* Desktop, Laptop */
.container {
    grid-template-columns: 180px 3fr 280px;
    grid-template-rows: 100px auto 30px;
    min-height: 100vh;
}

.grid2 {
    grid-row: 1;
    grid-column: 2 / span 2;
    border-bottom: 2px solid #009bd6;
    margin-left: 4px;
    /*background: url('/imgs/LeaderboardAd_desktop.png') no-repeat fixed right top; */
    background: url('/ads/000/LeaderboardAd_desktop.jpg') no-repeat fixed right top;
}

.grid2 h1 {
    color: gold;
    margin: 25px 50px;
    font-size: 3vh;
}

.grid4 {
    /*background: url('/imgs/LargeRectangleAd_desktop.png') repeat-y fixed right top;*/
    background: url('/ads/000/LargeRectangleAd_desktop.jpg') repeat-y fixed right center;
}

.grid4 h4 {
    margin: 10px 20px;
    color: gold;
}

.grid5 {
    grid-column: 2 / span 2;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding-left: 10px;
    background-color: #63b7d3;
    color: black;
    font-size: 10pt;
}

.grid3 {
    display: flex;
    flex-direction: column; 
}
.subcategories {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

ul.utilities {
    display: flex;
    flex-direction: column; 
}

/* Menu */
.grid1 {
    grid-row: 1 / span 3;
    display: flex;
    flex-direction: column;    
}
.logo {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 10px;
}

.menu {
    padding: 0;
    list-style-type: none;
    flex-grow: 1;
}
.menuItem, .menuItemSelected {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px 0 5px 0;
    padding: 12px 0 12px 0;
    cursor: pointer;
}
.menuItemSelected {
    background-color: #ffff;    
    padding: 15px 0 15px 0;
    flex-direction: column;
}

.menuItem a, .menuItemBottom a {
    text-decoration: none;
    color: #ffff;
}
.menuItemSelected a {
    text-decoration: none;
    color: #009bd6;
    font-weight: bolder;
    font-size: 14pt;
}

.menuBottom {
    padding-bottom: 10px;
}

.menuItemBottom {
    font-size: 10pt;
    margin-bottom: 10px;
}
.menuItemBottom a {
    margin: 2px;
}
.menuItemBottom a:hover {
    border-bottom: 1px solid white;
    font-size: 10pt;
}

a.menuItemBottomSelected{
    /*color: #009bd6;
    background-color: white;*/
    color: navy;
    background-color: gold;
    padding: 3px;
    font-weight: bolder;
    /*text-shadow: 2px 2px 3px white;*/
}
a.menuItemBottomSelected:hover{
    border: 0;
    
}

/*Menu context*/
.popupLiShow {
    padding: 0;
    margin: 5px 0 0 0;
}

ul.popup {
    margin: 0;
    padding: 2px 0 2px 0;
    
    list-style-type: none;
}

ul.popup li {
    margin: 5px 0 5px 0;
}

.menuItemPopup img {
    margin-left: 5px;
}
li.menuItemPopup, .menuItemPopup a {
    
    margin: 20;
    padding: 0;
    padding-right: 5px;
}

    /* Edit */
    .subcategoryInput {
        width: 120px;
    }    
    a.inputButton {
        color: black;
    }

    .utilLi, .searchTitle {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-content: center;
    }

    /* grid3  */
    .util {
        font-size: 12pt;
        text-decoration: none;
        color: black;
        border: 1px solid white;
        padding: 0;
        margin: 5px;
        margin-left: 2px;
    }

    .utilEditWrapper {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-content: center;        
    }

    .utilEdit {
        font-size: 12pt;
        text-decoration: none;
        color: black;
        border: 1px solid white;
        padding: 0;
        margin-top: 0;
        margin-left: 2px;

    }

    .util:hover, .utilEdit:hover {
        /*border-bottom: 1px solid black;*/
        text-decoration: underline solid #009bd6;
        text-underline-offset: 4px;
    }

    /* icon wrapper */
    .searchTitle {
        justify-content: flex-start;
        align-content: center;
        padding-left: 2px;
    }
    .utilTitle {
        margin-top: 5px;
    }
    
    .iconWrapper {
        background-color: #F5F5F5;/*#F2F3F4;*/
        border-radius: 50%;
        padding: 2px;
        border: 1px solid #009bd6;
    }

    .iconWrapperSquare {
        background-color: #F5F5F5;/*#F2F3F4;*/
        border-radius: 30%;
        padding: 2px;
        border: 1px solid #009bd6;
    }
    
    .aboutSection {
        padding: 30px 10px 10px 10px;
      }
    
      .aboutSection p {
        margin: 10px 5px 5px 10px;
        text-wrap: pretty;
      }
    
      .aboutSection ul {
        list-style-type: none;
      }

    /* config */
    .configSection {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;
    }

    #formExportConfigFile, #formLocaleConfigForm, #formUploadConfigFile {
        margin: 30px 10px 30px 10px;
    }

    /* Dialog */
    #dialog {
        display: inline-block;
        position: fixed;
        left: 20%;
        top: 13%;
        z-index: 999;
        padding: 0;
        border-radius: 3px;
        border: 3px solid #63b7d3;
        background-color: white;
        
        flex-direction: column;
    }

    .bigDialog {
        height: 800px;
        overflow: auto;
    }

    .dialogTitle {
        font-size: medium;
        padding: 5px 5px 5px 5px;
        border-bottom: 3px solid #63b7d3;
        color: black;
    }

    .dialogDesc {
        margin: 10px;
    }

    .dialogHandle {
        margin: 20px 10px 10px 10px;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
    }

    .dialogSelSubCate {
        list-style-type: none;
        margin: 12px;
        display: flex;
        flex-direction: column;
    }

    .listSubCates, .listUtils {
        list-style-type: none;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        padding: 0;
        margin: 15px 0 0 10px;

    }
    .listSubCates li, .listUtils li {
        margin: 5px;
    }

    .listUtils li.utilItem {
        display: flex;
        flex-direction: row;
        align-content: center;
        align-items: center;
        justify-content: flex-start;
        padding: 5px;

        border: 1px dotted #63b7d3;
    }

    .dialogSelCateRow {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
    }

    .labelCateName {
        color: #009bd6;
        font-weight: bold;
        margin-right: 5px;
        width: 150px;
    }

    .selectCateName {
        border-radius: 3px;
        border: 1px solid black;
        height: 30px;
        margin: 3px;
        width: 200px;
        padding-left: 5px;    
        font-size: 14px;
    }

   .lstCates {
        display: flex;
        flex-direction: row;
        list-style-type: none;
        padding: 2px;
    }

    .lstCates li {
        margin: 2px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }

}