@font-face {
    font-family: "Open Sans";
    src: url(https://fonts.googleapis.com/css?family=Open+Sans);
  }
  
/* mobile phones */
    html, body {
        margin: 0;
        padding: 0;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 4vw;
    }
    * {
        box-sizing: border-box;
    }
    [class*="col-"] {
        width: 100%;
    }

    .row::after {
        content: "";
        clear: both;
        display: flex;
    }
    .menu {
        background-color: #009bd6;
        color: #ffff;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }

    .logo {
        width: 100%;
        display: flex;
        justify-content: center;
        padding: 10px;
    }
  
    .menu ul {
        list-style-type: none;
        display: flex;
        justify-content: flex-start;
        padding: 10px 0 10px 0;
        width: 100%;
    }
  
    .menu ul:first-of-type {
        flex-direction: column;
        flex-grow: 2;
    }
  
    .menu ul:last-of-type {
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
  
    .menuItem, .menuItemSelected {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 5px 0 5px 0;
        padding: 12px 0 12px 0;
        cursor: pointer;
    }
    .menuItemSelected {
        background-color: #ffff;    
        padding: 10px 0 10px 0;
    }
  
    .menuItem a, .menuItemBottom a {
        text-decoration: none;
        color: #ffff;
    }
    .menuItemSelected a {
        text-decoration: none;
        color: #009bd6;
        font-weight: bolder;
        font-size: 4.5vw;
    }
    .menuSeparator {
        background-color: #ffff;
        height: 2px;
    
    }
    .menuItemBottom {
        border-right: 1px solid #ffff;
        padding: 4px;
    }
    .menuItemBottom:last-of-type {
        border-right: 0;
    
    }
    .menuItemBottom a {
        margin: 2px;
    }
    .menuItemBottom a:hover {
        border-bottom: 1px solid #ffff;
    }
  
    .main {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }  
    .headerAds {
        width: 100%;
        min-height: 90px;
        background-color: lightgray;
        border-bottom: 2px solid #009bd6;
    }
  
    .container {
        width: 100%;
        flex-grow: 1;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;
        flex-wrap: wrap;
    }
  
    .rightAds {
        height: 280px;
        background-color: lightgray;
    }
  
    .content {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;
        flex-wrap: wrap;
    }
    .subcategory {
        /* border: 1px solid green; */
        font-weight: bolder;
        font-size: 14pt;
        
    }
    .content ul {
        padding: 5px;
        margin: 10px;
        list-style-type: none;
        /* border: 1px solid red; */
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }

    .content ul li {
        margin: 8px;
        margin-left: 0;
    }
    
    .util {
        font-size: 3.5vw;
        text-decoration: none;
        color: black;        
    }
    .util:hover {
        border-bottom: 1px solid black;
    }


    .footer {
        border: 1px solid green;
    }
  
@media only screen and (min-width: 768px) {
        /* Ipad */
    html, body {
        font-size: 3vw;
    }

    [class*="col-"] {
        float: left;
        padding: 0px;
    }
  
    .col-1 {width: 33.33%;}
    .col-2 {width: 33.33%;}
    .col-3 {width: 33.33%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 66.66%;}
    .col-6 {width: 66.66%;}
    .col-7 {width: 66.66%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 66.66%;}
    .col-10 {width: 66.66%;}
    .col-11 {width: 100%;}
    .col-12 {width: 100%;}   

    .menu {
        height: 100vh;
        width: 33.33%; /* col-1 */
    }
    .menu ul:last-of-type {
        flex-wrap: wrap;
    }
    .menuItemSelected a {
        font-weight: bolder;
        font-size: 3.5vw;
    }      

    .headerAds {
        min-height: 90px;
    }

    .rightAds {
        min-height: 280px;
    }
  
    .subcategory {
        font-size: 3vw;
    }
    .util {
        font-size: 2.5vw;
    }
}
  
@media only screen and (min-width: 992px) {
    /* Desktop, Laptop */
    html, body {
        font-size: 1vw;
    }
    [class*="col-"] {
        float: left;
        padding: 0px;
    }
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}   

    .menuItemSelected a {
        font-weight: bolder;
        font-size: 1.2vw;
    }
  
    .main {
        
        
    }
    .container {
        
    }
    .content {
        flex-wrap: wrap;
    }
  
    .headerAds {
        min-width: 728px;
        min-height: 90px; 
    }
  
    .rightAds {
        min-width: 336px;
        min-height: 280px; 
    }
    .subcategory {
        margin-bottom: 5px;
        font-size: 1vw;
    }
   .util {
        font-size: 0.8vw;
    }
      
  }
  