.main {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-content: center;
}

.column {
  display: flex;
  flex-direction: column;
  border: 1px solid red;
}

.section {
  display: flex;
  flex-direction: column;
  border: 1px solid green;
}

.info {
  background-color: #DDBEAA;
  color: black;
  padding: 5px;
  font-size: small;
}

.util_link {
  color: green;
  text-decoration: line-through;
}
